:root {
	--offcanvas-width: 270px;
	--topNavbarheight: 56px;
}

main {
	margin-left: var(--offcanvas-width);
}

.sidebar-nav {
	width: var(--offcanvas-width);
}

.sidebar-link {
	display: flex;
	align-items: center;
}

.sidebar-link .right-icon {
	display: inline-flex;
	transition: all ease 0.25s;
}

.sidebar-link[aria-expanded="true"] .right-icon {
	transform: rotate(180deg);
}

@media (min-width: 992px) {
	body {
		overflow: auto !important;
	}

	.offcanvas-backdrop::before {
		display: none;
	}

	.sidebar-nav {
		transform: none;
		visibility: visible !important;
		top: var(--topNavbarheight);
		height: calc(100% - var(--topNavbarheight));
	}
}

.card-link {
	border-radius: 4px;
	background: #fff;
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
	transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
		0.3s box-shadow,
		0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
	padding: 14px 80px 18px 36px;
	cursor: pointer;
}

.card-link:hover {
	transform: scale(1.05);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}
