:root {
	--offcanvas-width: 270px;
	--topNavbarheight: 56px;
}
.sidebar-nav {
	width: var(--offcanvas-width);
}

@media (min-width: 992px) {
	body {
		overflow: auto !important;
	}

	.offcanvas-backdrop::before {
		display: none;
	}

	.sidebar-nav {
		transform: none;
		visibility: visible !important;
		top: var(--topNavbarheight);
		height: calc(100% - var(--topNavbarheight));
	}
}
